* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__wrapper {
  background-image: url('../images/header_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: auto; */
  min-height: 970px;
  max-height: 1080px;
  position: relative;
  /* height: 100vh; */
  max-width: 1920px;
  margin: 0 auto;
  max-height: 1080px;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  padding: 0px 70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px !important;
}

nav.header__wrapper-nav ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 30px;
}

nav.header__wrapper-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.header__wrapper-nav ul li:last-child a {
  padding: 0;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

section.first__screen h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 72px;
}

section.first__screen h4 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  max-width: 665px;
  margin: 0 auto;
  padding-top: 40px;
}

section.first__screen {
  background: -o-linear-gradient(345.07deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
  background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 7px;
  max-width: 1268px;
  margin: 0 auto;
  width: 100%;
  margin-top: -111px;
  display: block;
  height: auto;
  padding-bottom: 72px;
  max-height: 690px !IMPORTANT;
  margin-top: 90px;
  z-index: 10;
  position: relative;
}

a.first__screen-btn-start {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #FBFBFB;
  background: #FF0B53;
  cursor: pointer;
  border-radius: 36px;
  padding: 18px 87px;
  margin-right: 30px;
}

a {
  text-decoration: none;
}

.btn__wrapper {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 114px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.first__screen-btn-read {
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  padding: 18px 83px;
  margin-left: 30px;
}

.content {
  width: 100%;
  font-family: "Roboto Slab";
}

.content .info {
  /* width: 100%; */
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .header {
  width: 62.5%;
  display: grid;
  color: #000;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* grid-template-columns: 271px 1fr; */
  grid-template-areas: 230px 1fr;
}

.content .header-tab {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  max-width: 337px;
  min-width: 250px;
  width: auto;
  height: 171px;
  background-repeat: no-repeat !important;
  background-position: center !IMPORTANT;
  background-size: auto !important;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.content .header-tab:after {
  /* content: ''; */
  /* display: block; */
  /* width: 0%; */
  /* height: 3px; */
  /* background-color: #e5dfe3; */
  /* margin-top: 4px; */
  /* transition: 0.4s; */
}

.content .header-tab:hover:after {
  width: 60%;
}

.content .tabcontent {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px 0px 0px;
  /* color: #000; */
  /* transition: 0.3s; */
  /* border: 1px solid #ccc; */
}

.content .tabcontent .description:after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #c78030;
  margin-top: 30px;
}



.content .info .hide {
  display: none;
}

.content .info .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  top: 0;
  left: 0;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  color: #101020;
  border: 1px solid #101020;
  border-radius: 7px;
  padding: 18px 42px;
}

section.second__screen.container {
  /* height: 1000px; */
  background: #F8F8F8;
  padding-bottom: 120px;
}

.header-tab1 {
  background-image: url('../images/image58.png') !important;
}

.header-tab2 {
  background-image: url('../images/image59.png') !important;
}

.header-tab3 {
  background-image: url('../images/image60.png') !important;
}

.header-tab4 {
  background-image: url('../images/image61.png') !important;
}

.header-tab5 {
  background-image: url('../images/image62.png') !important;
}

.header-tab6 {
  background-image: url('../images/image63.png') !important;
}

h2.title {
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
  /* identical to box height */
  text-align: left;
  color: #101020;
  padding-top: 120px;
  padding-bottom: 90px;
}

.description {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  max-height: 360px;
}

.description__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
}

.description__first h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  margin-left: 16px;
}

.description__first h5 span {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-align: -webkit-left;
  color: #575757;
  display: table-cell;
  padding-top: 10px;
}

p.subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 147%;
  /* or 29px */
  color: #3D3D3D;
  padding-top: 20px;
}

.our__team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.our__team-wrapper-subtitle {
  max-width: 400px;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 120px;
}

.our__team-wrapper-subtitle h6 {
  font-weight: 500;
  font-size: 34px;
  line-height: 39px;
  /* identical to box height */
  text-align: left;
  color: #101020;
}

.our__team-wrapper-subtitle img {
  margin-left: 25px;
  margin-top: 104px;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
}

.swiper-slide-flex {
  /* display: flex; */
  /* margin-right: 20px; */
  min-width: 100% !important;
  width: 100%;
}

.swiper-slide-flex>div {
  /* margin-right: 20px; */
  /* max-width: 430px; */
  position: relative;
  cursor: pointer;
  z-index: 20;
  width: 100%;
  min-width: 100%;
}

span.swiper-pagination-progressbar-fill {
  /* bottom: -436px !important; */
  /* top: initial !important; */
  /* width: 70% !IMPORTANT; */
  background: #17191D;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  height: 7px !IMPORTANT;
  top: -4px !important;
}

.swiper-button-next {
  right: 50px;
  bottom: -190px;
  top: 424px;
}

.swiper-button-next:after {
  content: '' !important;
  background-image: url('../images/arrow_r.png') !IMPORTANT;
  background-repeat: no-repeat !IMPORTANT;
  background: #F8F8F8;
  border: 1px solid #DEDEDE;
  padding: 24px;
  background-position: center;
  border-radius: 50px;
}

.swiper-button-prev:after {
  content: '';
  background-image: url(../images/arrow_r.png) !IMPORTANT;
  background-repeat: no-repeat !IMPORTANT;
  background: #F8F8F8;
  border: 1px solid #DEDEDE;
  padding: 24px;
  background-position: center;
  border-radius: 50px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-prev {
  bottom: 0%;
  top: 424px;
  left: 91%;
  /* transform: translateX(870px); */
}

.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
  bottom: -546px !important;
  top: 424px !important;
  width: 70% !IMPORTANT;
  background: #676767;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  height: 1px;
}

:root {
  --swiper-theme-color: #17191D;
}

section.third__screen {
  padding-bottom: 34px;
}

.swiper-slide {
  /* width: 53% !important; */
  padding: ;
  margin-right: 20px;
  overflow: hidden;
}

.swiper-slide-active {
  /* width: 100% !important; */
}

.swiper-slide:last-child {
  /* width: 100% !important; */
}

.swiper-slide-flex>div img {
  /* display: block; */
  width: 100%;
  /* height: 100%; */
}

.swiper-slide-hover {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  top: -50%;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, 49%);
      -ms-transform: translate(-50%, 49%);
          transform: translate(-50%, 49%);
  background: #00000094;
  /* border-radius: 7px; */
  width: 100%;
  height: 100%;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.swiper-slide-flex>div:hover .swiper-slide-hover {
  opacity: 1;
  /* width: 100vw; */
}

.swiper-slide-hover-wrap {
  top: 50%;
  position: absolute;
  width: 100%;
  left: 0%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.swiper-slide-hover-wrap h5 {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.swiper-slide-hover-wrap p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #F2F2F2;
  margin-bottom: 30px;
}

.swiper-slide-hover-wrap a {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FBFBFB;
  background: #FF0B53;
  border-radius: 36px;
  padding: 18px 74px;
  margin-right: 30px;
  display: block;
  margin: 0 auto !IMPORTANT;
  max-width: 267px;
}

.our__team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__team-container img {
  margin-right: 230px;
  margin-top: 30px;
}

:root {
  --swiper-navigation-size: 0px;
}

.popup__content {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  max-width: 714px;
  width: 100%;
  padding: 20px;
  position: relative;
}

.popup__close {
  position: absolute;
  right: -17px;
  top: -17px;
  background: #F8F8F8;
  border: 1px solid #DEDEDE;
  padding: 10px 12px;
  border-radius: 50px;
  cursor: pointer;
}

.popup__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__flex-grid {
  padding-left: 20px;
  /* position: relative; */
  min-width: 300px;
}

.content__flex-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 27px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.content__flex-block2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #585858;
}

.content__flex-block2 span {
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height */
  text-align: left;
  position: absolute;
  color: #2C2C2C;
  /* right: 0; */
  left: 39%;
  background: #F4F4F4;
  border-radius: 7px;
  padding: 6px 7px;
}

.content__flex-social {
  background: #F4F4F4;
  border-radius: 7px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 7px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 170px;
  margin-top: 20px;
}

.swiper {
  min-height: 500px;
  max-width: 1160px;
  margin-right: inherit;
}

section.contact__us {
  background: #F8F8F8;
  height: 1040px;
  background-image: url('../images/Illustration.png');
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 880px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input.form__name,
.form__email,
.form__phone,
.select__job,
.form__message {
  font-family: 'Ubuntu';
  max-width: 430px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #585858;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  border: none;
}



textarea.form__message {
  width: 100%;
  min-width: 100%;
  max-height: 222px;
  resize: none;
}

select.select__job {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/arrow_bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 97%;
}

a.form__btn {
  background: #101020;
  display: inline-block;
  margin-right: 0 !important;
}

input.form__file {
  margin-top: 30px;
}

.form__wrapper2 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

i.fa.fa-cloud-upload::before {
  content: '';
  background-image: url('../images/upload.png');
  padding: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

img.bottom__image {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  left: 30px;
}

footer.last__screen {
  background: #17191D;
  /* height: 570px; */
}

.office h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
  border-bottom: 2px solid #FF0B53;
  max-width: 130px;
  margin-bottom: 30px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1381px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 132px;
}

.office__item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  color: #FFFFFF;
  margin-left: 15px;
}

.office__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.office__item-social a {
  margin-right: 15px;
}

.footer_bg {
  background-image: url('../images/footer_bg.png');
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 72px;
}

img.circle__icon {
  margin-left: 22%;
  margin-top: -70px;
  position: absolute;
}

img.half__circle-icon {
  position: absolute;
  /* left: 50%; */
  top: 50%;
  /* 3 */
  bottom: 0 !important;
  -webkit-transform: translate(50%, 66%);
      -ms-transform: translate(50%, 66%);
          transform: translate(50%, 66%);
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.hide_m {
  display: none !important;
}

.footer__wrapper-office3 p {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #B1B1B1;
}

.custom-radio.active [type="radio"]:checked + .custom-radio__label:before,
.custom-radio [type="radio"]:not(:checked) + .custom-radio__label:before {
  border: 2px solid !important;
}

.custom-radio.active .custom-radio__label:after {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
}

fieldset#group2 {
  /* padding-left: 30px; */
  border: none;
}

.clear {
  clear: both;
}

label {
  float: left;
}

.custom-radio [type="radio"]:checked,
.custom-radio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custom-radio [type="radio"]:checked + .custom-radio__label,
.custom-radio [type="radio"]:not(:checked) + .custom-radio__label {
  position: relative;
  padding: 6px 0 4px 38px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 4px;
}

.custom-radio [type="radio"]:checked + .custom-radio__label:before,
.custom-radio [type="radio"]:not(:checked) + .custom-radio__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 28px;
  border: 2px solid #09121F;
  border-radius: 100%;
  background: #fff;
}

.custom-radio [type="radio"]:checked + .custom-radio__label:after,
.custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
  content: '';
  width: 14px;
  height: 14px;
  background: white;
  position: absolute;
  top: 4px;
  border: 5px solid #FF0B53;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}

.custom-radio [type="radio"]:checked + .custom-radio__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F0F0F0;
  max-width: 535px;
  border-radius: 50px;
  padding: 0;
  margin-bottom: 70px;
  margin-left: initial;
}

.custom-radio {
  background: #F0F0F0;
  border-radius: 61px;
  padding: 10px 30px;
  font-weight: 400 !important;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #101020;
}

.custom-radio.active {
  background: #FF0B53;
  color: #fff;
  padding: 10px 30px;
}

@media only screen and (max-width: 800px) {
  .custom-radio [type="radio"]:checked + .custom-radio__label,
  .custom-radio [type="radio"]:not(:checked) + .custom-radio__label {
    padding: 0px 0 0px 28px !important;
  }

  .custom-radio [type="radio"]:checked + .custom-radio__label:after,
  .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
    top: 4px !important;
    left: 4px !important;
    width: 12px !important;
    border: 2px solid #FF0B53 !important;
    height: 12px !important;
  }

  .custom-radio [type="radio"]:checked + .custom-radio__label:before,
  .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:before {
    width: 20px !important;
    height: 20px !important;
  }

  .flex {
    /* padding: 0 20px !IMPORTANT; */
    max-width: 346px !important;
    margin: 0 auto !IMPORTANT;
    margin-top: 40px !important;
  }

  .custom-radio {
    font-size: 18px !important;
    line-height: 21px !important;
    padding: 9px 14px !IMPORTANT;
  }

  .popup__body {
    padding: 20px;
  }

  .hide_s {
    display: none;
  }

  .header__burger {
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 400;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    z-index: 100;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 10px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(345.07deg, rgba(122, 122, 122, 0.1) 1.86%, rgba(122, 122, 122, 0) 104.73%);
    background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.1) 1.86%, rgba(122, 122, 122, 0) 104.73%);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
    -webkit-backdrop-filter: blur(70px);
            backdrop-filter: blur(70px);
    z-index: 200;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .header__menu.active {
    top: 0%;
    min-height: 580px;
    height: -webkit-fill-available;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    overflow-y: auto;
  }

  .header__wrapper-logo img {
    max-width: 102px;
  }

  .container {
    padding: 0 20px;
  }

  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    position: relative;
    z-index: 1000;
    /* position: fixed; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* min-width: 320px; */
    padding: 0;
    width: 100%;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__wrapper-logo {
    position: relative;
    z-index: 300;
  }

  .lock .header__body {
    /* position: fixed; */
    right: 0;
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    padding: 0;
  }

  section.first__screen h1 {
    font-size: 34px;
    line-height: 39px;
    padding-top: 33px;
  }

  section.first__screen h4 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;
  }

  section.first__screen {
    width: -webkit-fill-available;
    padding: 23px;
    margin-bottom: 35px;
  }

  .btn__wrapper {
    display: block;
    margin-top: 40px;
  }

  .header__wrapper {
    padding: 0 20px;
    min-height: auto;
    height: -webkit-fill-available;
  }

  a.first__screen-btn-start {
    font-size: 20px;
    line-height: 23px;
    display: block;
    max-width: 284px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  a.first__screen-btn-read {
    font-size: 20px;
    line-height: 23px;
    display: block;
    max-width: 284px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    padding: 0 !important;
  }

  .content .header {
    display: grid;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
  }

  .content .tabcontent {
    width: 100%;
    padding: 0;
  }

  .content .header-tab {
    min-width: -webkit-fill-available !IMPORTANT;
    background-size: 70% !IMPORTANT;
    height: -webkit-fill-available;
    min-height: 110px;
  }

  p.subtitle {
    font-size: 16px;
  }

  .description {
    margin-bottom: 30px;
    padding: 10px;
  }

  .content .tabcontent .description:after {
    margin-top: 0;
  }

  h2.title {
    font-size: 24px;
    line-height: 28px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  img.circle__icon {
    max-width: 80px;
    top: 200px;
  }

  img.half__circle-icon {
    left: 0;
    max-width: 313px;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    /* bottom: 0px; */
    top: auto;
    margin-bottom: -5px;
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  body.lock {
    overflow: hidden !important;
  }

  .header__menu {
    padding-top: 140px;
    padding-left: 20px;
    /* flex-direction: column; */
    /* min-height: 580px; */
  }

  nav.header__wrapper-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    margin-bottom: 380px;
  }

  nav.header__wrapper-nav ul li a {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: block;
    margin-bottom: 30px;
  }

  .our__team-container img {
    max-width: 73px;
    margin: 0 !important;
    margin-right: 10px !important;
    padding-top: 50px !important;
    display: inline-block;
  }

  .our__team-wrapper {
    display: block;
    margin-top: 0;
  }

  .our__team-wrapper-subtitle h6 {
    font-size: 20px;
    line-height: 23px;
  }



  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 89% !important;
    top: 320px !important;
    margin-left: 20px;
  }

  .our__team-wrapper-subtitle img {
    display: none;
  }

  .swiper {
    margin-top: 40px;
    min-height: 340px;
  }

  section.contact__us {
    background-position-x: -60%;
    height: auto;
    padding-bottom: 40px;
  }

  img.bottom__image {
    display: none;
  }

  .form__wrapper2 {
    display: block;
    margin: 0 auto;
    max-width: 280px;
  }

  input.form__name,
  .form__email,
  .form__phone,
  .select__job,
  .form__message {
    font-size: 16px;
    line-height: 18px;
    max-width: inherit;
  }

  a.form__btn {
    margin-top: 90px;
    margin-right: auto !important;
    margin-left: auto;
    display: block;
  }

  .popup__content {
    width: -webkit-fill-available;
  }

  .popup__content-wrapper img {
    max-width: 102px;
  }

  .content__flex-block2 p {
    font-size: 16px;
    line-height: 18px;
  }

  .content__flex-block2 span {
    font-size: 16px;
    line-height: 18px;
  }

  .content__flex-grid {
    padding-left: 0;
  }

  .content__flex-social a img {
    max-width: 20px;
  }

  .content__flex-social {
    min-width: 146px;
  }

  a.popup__close {
    right: 10px;
    top: 10px;
  }

  .swiper-slide-flex>div img {
    /* max-width: 350px; */
    width: 100%;
    display: block;
    height: auto;
  }

  .swiper-slide-hover-wrap h5 {
    font-size: 24px;
    line-height: 28px;
  }

  .swiper-slide-hover-wrap p {
    font-size: 20px;
    line-height: 23px;
  }

  .swiper-slide-hover-wrap a {
    font-size: 20px;
    line-height: 23px;
    max-width: 233px;
    padding: 16px 67px;
  }

  .swiper-slide-flex>div {
    /* max-height: 300px !important; */
  }

  .swiper-slide-flex {
    max-width: 350px;
  }

  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 164px;
    width: 100%;
  }

  .header__open-block {
    margin: 0 auto;
    max-width: 170px;
    margin-top: 200px !important;
    padding-bottom: 40px;
  }

  .footer__wrapper {
    /* display: block; */
    padding-bottom: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer_bg {
    background-image: none;
  }

  .office h3 {
    font-size: 20px;
    line-height: 23px;
    max-width: 89px;
    margin-top: 30px;
  }

  .office__item p {
    font-size: 16px;
    line-height: 18px;
  }

  .office__item a img {
    max-width: 24px;
  }

  .office__item-social a {
    margin-right: 13px;
  }

  .footer__wrapper-office3 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #B1B1B1;
  }

  .header__open-block p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #B1B1B1;
    text-align: center;
    margin-top: 25px;
  }



  nav.header__menu.active .header__open-block {
    display: block !important;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .header__social a img {
    margin-right: 15px;
  }

  .custom-file-upload {
    max-width: 320px;
    margin: 0 auto;
  }

  .footer_bg h2 {
    padding-bottom: 10px;
  }

  .office__item img {
    max-width: 16px;
  }

  .our__team-wrapper-subtitle {
    padding: 0 20px;
    margin-left: inherit;
  }

  .office {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1400px) {
  .swiper-slide {
    max-width: 430px;
  }

  .our__team-wrapper-subtitle {
    padding-left: 40px;
    min-width: 330px;
  }

  img.circle__icon {
    max-width: 200px;
    margin-top: -20px !important;
    margin-left: 25% !important;
  }

  img.half__circle-icon {
    max-width: 800px !important;
    /* top: 49.6% !important; */
    /* bottom: 0% !important; */
    /* top: inherit !important; */
    bottom: 10px !important;
  }

  .header__wrapper {
    min-height: 100vh;
    max-height: 760px !important;
  }

  .office__item p {
    font-size: 17px !important;
  }

  .office h3 {
    font-size: 25px !important;
    max-width: 110px !important;
  }

  h2.title {
    font-size: 47px !important;
    line-height: 50px !important;
  }

  .footer__wrapper {
    max-width: 1100px !important;
  }

  .form__wrapper {
    max-width: 700px !important;
  }

  input.form__name,
  .form__email,
  .form__phone,
  .select__job {
    max-width: 340px !important;
    font-size: 16px !important;
  }

  .swiper-button-prev {
    left: 89% !important;
  }

  .swiper-slide-flex>div {
    /* max-width: 400px !important; */
    /* max-height: 290px !IMPORTANT; */
  }

  section.first__screen h4 {
    font-size: 19px;
  }

  section.first__screen {
    max-width: 960px;
    margin-top: 130px;
    padding-bottom: 60px;
  }

  section.first__screen h1 {
    font-size: 52px;
    padding-top: 50px;
    line-height: 60px;
  }

  .btn__wrapper {
    margin-top: 70px;
    max-width: 600px;
  }

  a.first__screen-btn-start {
    font-size: 22px;
    margin-right: 20px !important;
  }

  a.first__screen-btn-read {
    margin-left: 20px !important;
    font-size: 22px;
  }

  .container {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 484px) and (max-width: 800) {
  .content__flex-grid {
    min-width: 170px;
    margin-left: 20px;
  }

  .popup__content-wrapper img {
    max-width: 180px !important;
    width: 100%;
    height: auto;
    /* max-height: 170px; */
  }
}

@media only screen and (min-width: 612px) and (max-width: 800px) {
  .content .header-tab {
    min-height: 160px !important;
  }

  input.form__name,
  .form__email,
  .form__phone,
  .select__job {
    max-width: 280px;
    min-width: 280px !IMPORTANT;
    width: -webkit-fill-available;
  }

  section.contact__us {
    background-position-x: 100% !important;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1240px) {
  .form__wrapper {
    max-width: 736px;
  }

  .info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    padding: 0 !important;
  }

  .content .tabcontent {
    width: 100%;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .flex {
    margin: 0 auto !important;
    margin-bottom: 50px !important;
  }

  section.first__screen h4 {
    font-size: 20px;
    line-height: 26px;
  }

  section.first__screen h1 {
    font-size: 50px;
    line-height: 46px;
  }

  .header__container {
    padding: 0 !important;
  }

  .header__wrapper {
    padding: 0 30px;
  }

  .header__wrapper-logo img {
    max-width: 140px;
  }

  img.circle__icon {
    max-width: 140px;
    margin-top: 60px;
  }

  .content .header {
    width: 100%;
  }

  .office {
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  input.form__name,
  .form__email,
  .form__phone,
  .select__job {
    max-width: 360px;
    min-width: 280px !IMPORTANT;
    width: -webkit-fill-available;
  }

  .swiper-button-prev {
    /* left: 85%; */
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
  }

  .container {
    padding: 0 30px;
  }

  .content .header-tab {
    min-width: 246px;
    width: -webkit-fill-available;
    /* max-width: 350px; */
  }

  .footer_bg {
    background-image: none;
  }

  .our__team-wrapper {
    display: block;
    margin-top: 0;
  }

  .our__team-wrapper-subtitle img {
    display: none;
  }

  .our__team-wrapper-subtitle {
    margin-left: inherit;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1440px) {
  .swiper-button-prev {
    -webkit-transform: translateX(-25px) !important;
        -ms-transform: translateX(-25px) !important;
            transform: translateX(-25px) !important;
  }
}

@media only screen and (min-width: 1241px) and (max-width: 1440px) {
  .container {
    padding: 0 30px;
  }

  .header-tab.header-tab1 {
    min-width: 230px !important;
  }
}

.webp .header__wrapper { background-image: url(../images/header_bg.webp); }

.webp .header-tab1 { background-image: url(../images/image58.webp) !important; }

.webp .header-tab2 { background-image: url(../images/image59.webp) !important; }

.webp .header-tab3 { background-image: url(../images/image60.webp) !important; }

.webp .header-tab4 { background-image: url(../images/image61.webp) !important; }

.webp .header-tab5 { background-image: url(../images/image62.webp) !important; }

.webp .header-tab6 { background-image: url(../images/image63.webp) !important; }

.webp .swiper-button-next:after { background-image: url(../images/arrow_r.webp) !IMPORTANT; }

.webp .swiper-button-prev:after { background-image: url(../images/arrow_r.webp) !IMPORTANT; }

.webp section.contact__us { background-image: url(../images/Illustration.webp); }

.webp select.select__job { background-image: url(../images/arrow_bottom.webp); }

.webp i.fa.fa-cloud-upload::before { background-image: url(../images/upload.webp); }

.webp .footer_bg { background-image: url(../images/footer_bg.webp); }